body{

}

.container{
     max-width: 700px;
}

.card{
     box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2);
}

.card:hover{
     box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
}

.code-font{
     font-family: courier, "courier new", serif;
}

.text-center{
     text-align: center;
}

.header{
     margin-top: 20px;
}

.form{
     padding: 10px;
}
